{% if collection_infinite_scrolling == 'default' %}
<nav aria-label="Page navigation">
  {% include 'pagination' %}
</nav>
{% endif %}

{% if collection_infinite_scrolling == 'auto_loadmore' %}
{% paginate collection.products by collection_limit %}
{% if paginate.pages > 1 %}
<div class="infinite-scrolling loading-mores mt-3 mb-3">
  <div class="loading-more"><img src="{{ 'ajax_loader.gif' | asset_url }}" alt="loading" loading="lazy" /></div>
</div>
{% endif %}
{% endpaginate %}
{% endif %}

{% if collection_infinite_scrolling == 'click_loadmore' %}
{% if paginate.next %}
<div class="infinite-scrolling mt-3 mb-3 d-inline-block" {% if settings.enable_lang_switcher %}data-trans-key="collections.general.loading"{%endif%}>
  <div class="loading-product btn btn-solid">
    {{ 'collections.general.loading' | t }}
  </div>
  <a href="{{ paginate.next.url }}" title="Load more" class="btn btn-solid" {% if settings.enable_lang_switcher %}data-trans-key="collections.general.load_more_pro"{%endif%}>
    {{ 'collections.general.load_more_pro' | t }}
  </a>
  <a href="#" class="disabled" style="display:none" title="Product loded" class="btn btn-solid" {% if settings.enable_lang_switcher %}data-trans-key="collections.general.no_more_product"{%endif%}>
    {{ 'collections.general.no_more_product' | t }}
  </a>
</div>
{% endif %}
{% endif %}
