{% assign min = 10 %}
{% assign max = 49 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

{% assign min = 10 %}
{% assign max = 100 %}
{% assign diff = max | minus: min %}
{% assign activeUser = "now" | date: "%N" | modulo: diff | plus: min %}

<div class="product-counter">
  <div class="product_count">
    {% if section.settings.enable_random_sale or section.settings.enable_product_active_view %}
    <ul>
      {% if section.settings.enable_random_sale %}
      <li class="border-right">
        <img src="{{ 'gif3.gif' | asset_url }}" class="img-fluid" alt="image" loading="lazy">
        <span class="p_counter">{{randomNumber}}</span>
            {% if section.settings.random_product_text %}
            {% assign lang-array = section.settings.random_product_text | split: '|' %}
            {% for lang in lang-array %}
            <span class="lang{{ forloop.index }}">{{ lang }}</span>
            {% endfor %}
            {% else %}
            {{section.settings.random_product_text}}
            {% endif %}
      </li>
      {% endif %}
      {% if section.settings.enable_product_active_view %}
       <li>
           <img src="{{ 'gif.gif' | asset_url }}" class="img-fluid user_img" alt="image" loading="lazy">
           <span class="p_counter">{{activeUser}}</span>
            {% if section.settings.active_product_text %}
            {% assign lang-array = section.settings.active_product_text | split: '|' %}
            {% for lang in lang-array %}
            <span class="lang{{ forloop.index }}">{{ lang }}</span>
            {% endfor %}
            {% else %}
            {{section.settings.active_product_text}}
            {% endif %}
       </li>
      {% endif %}
    </ul>
    {% endif %}
</div>
</div>
