{% include 'breadcrumb' %}

<!--section start-->
<section class="authentication-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% if order.cancelled %}
        <div id="order_cancelled">
          <h5 id="order_cancelled_title">Order Cancelled <span class="note">on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}</span></h5>
          <p>{{ order.cancel_reason }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-lg-4 text-left">
        <div class="address_wrap">
          <h3 {% if settings.enable_lang_switcher %}data-trans-key="customer.order.billing_address"{%endif%}>{{ 'customer.order.billing_address' | t }}</h3>

          <p><strong {% if settings.enable_lang_switcher %}data-trans-key="customer.order.payment_status"{%endif%}>{{ 'customer.order.payment_status' | t }}:</strong> 
            <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>

          {{ order.billing_address | format_address }}
        </div>
        <div class="address_wrap">
          <h3 {% if settings.enable_lang_switcher %}data-trans-key="customer.order.shipping_address"{%endif%}>{{ 'customer.order.shipping_address' | t }}</h3>

          <p><strong {% if settings.enable_lang_switcher %}data-trans-key="customer.order.fulfillment_status"{%endif%}>{{ 'customer.order.fulfillment_status' | t }}:</strong> 
            <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>

          {{ order.shipping_address | format_address }}
        </div>

      </div>
      <div class="col-lg-8">
        <h3 {% if settings.enable_lang_switcher %}data-trans-key="customer.orders.title"{%endif%}>{{ 'customer.orders.title' | t }}</h3>

        <div class="order-detail-table">
          <table class="table cart-table table-responsive-xl">
            <thead>
              <tr>
                <th class="text-center" {% if settings.enable_lang_switcher %}data-trans-key="customer.order.product"{%endif%}>{{ 'customer.order.product' | t }}</th>
                <th class="text-center" {% if settings.enable_lang_switcher %}data-trans-key="customer.order.sku"{%endif%}>{{ 'customer.order.sku' | t }}</th>
                <th class="text-center" {% if settings.enable_lang_switcher %}data-trans-key="customer.order.price"{%endif%}>{{ 'customer.order.price' | t }}</th>
                <th class="text-center" {% if settings.enable_lang_switcher %}data-trans-key="customer.order.quantity"{%endif%}>{{ 'customer.order.quantity' | t }}</th>
                <th class="text-center" {% if settings.enable_lang_switcher %}data-trans-key="customer.order.total"{%endif%}>{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for line_item in order.line_items %}
              <tr id="{{ line_item.key }}" class="responsive-table__row" >
                <td  class="text-left" data-label="{{ 'customer.order.product' | t }}">
                  {{ line_item.title | link_to: line_item.product.url }}
                  {% if line_item.fulfillment %}
                  <div class="note">
                    {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                    {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                    <div>
                      {% if line_item.fulfillment.tracking_url %}
                      <a href="{{ line_item.fulfillment.tracking_url }}">
                        {{ 'customer.order.track_shipment' | t }}
                      </a>
                      {% endif %}
                      <div>
                        {{ line_item.fulfillment.tracking_company }}
                        {% if line_item.fulfillment.tracking_number %} #{{ line_item.fulfillment.tracking_number }} {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </td>
                <td class="text-center" data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                <td class="text-center" data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                <td class="text-center" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                <td class="text-center" data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="responsive-table__row">
                <td colspan="4" class="text-left" {% if settings.enable_lang_switcher %}data-trans-key="customer.order.subtotal"{%endif%}>{{ 'customer.order.subtotal' | t }}</td>
                <td data-label="{{ 'customer.order.subtotal' | t }}" class="text-center">{{ order.subtotal_price | money }}</td>
              </tr>

              {% for discount in order.discounts %}
              <tr class="order_summary discount">
                <td colspan="4" class="text-left">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                <td data-label="{{ 'customer.order.discount' | t }}" class="text-center">{{ discount.savings | money }}</td>
              </tr>
              {% endfor %}

              {% for shipping_method in order.shipping_methods %}
              <tr>
                <td colspan="4" class="text-left">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                <td class="text-center" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
              </tr>
              {% endfor %}

              {% for tax_line in order.tax_lines %}
              <tr>
                <td colspan="4" class="text-left">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                <td class="text-center"data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
              </tr>
              {% endfor %}

              <tr>
                <td colspan="4" class="text-left"><strong>{{ 'customer.order.total' | t }}</strong></td>
                <td class="text-center" data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
<!--Section ends-->





