{% include 'breadcrumb' %}

<!--section start-->
<section class="pwd-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h3 {% if settings.enable_lang_switcher %}data-trans-key="customer.reset_password.title"{%endif%}>{{ 'customer.reset_password.title' | t }}</h3>
        <div class="text-center">
          {% form 'recover_customer_password' , class: 'theme-form' %}
          
          {% if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
          {% endif -%}
          
          <div class="form-row">
            <div class="col-md-12">
              <label for="password" {% if settings.enable_lang_switcher %}data-trans-key="customer.reset_password.password"{%endif%}>{{ 'customer.reset_password.password' | t }}</label>
              <input type="password" value="" name="customer[password]" placeholder="{{ 'customer.reset_password.password' | t }}" class="form-control" size="16" />
            </div>
            
            <div class="col-md-12">
              <label for="password_confirmation" {% if settings.enable_lang_switcher %}data-trans-key="customer.reset_password.password_confirm"{%endif%}>{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" class="form-control" size="16" />
            </div>
            
            <div class="col-md-12 mb-2">
              <button type="submit" class="btn btn-solid" {% if settings.enable_lang_switcher %}data-trans-key="customer.reset_password.submit"{%endif%}>{{ 'customer.reset_password.submit' | t }}</button>
            </div>
          </div>
          {% endform %}
          
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
