<!doctype html>
<html lang="en">
  <head>
    <script src="//unpkg.com/@ungap/custom-elements"></script>
    <script src="{{ 'beforeAnything.js' | asset_url }}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {% endunless %}
    {% endcapture %}
    <title>{{ seo_title | strip }}</title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% include 'social-meta-tags' %}

    {{ 'fontawesome.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'themify.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'menu.css' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
    {{ 'plugins.scss.css' | asset_url | stylesheet_tag }}
    {{ 'swatches.css' | asset_url | stylesheet_tag }}
    <link href="{{ 'style.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />  
    {{ 'responsive.scss.css' | asset_url | stylesheet_tag }}

    <link href="{{ 'dtm-custom.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,900;1,200;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script:400,500,600,700|Great+Vibes|Pacifico&display=swap" rel="stylesheet">
    <script>
      window.enable_multilang = {{ settings.enable_lang_switcher }};
      window.product_name="{{ 'products.compare.product_name' | t  }}";
      window.product_image="{{ 'products.compare.product_image' | t  }}";
      window.product_desc="{{ 'products.compare.product_desc' | t  }}";
      window.availability="{{ 'products.compare.availability' | t  }}";
      window.available_stock="{{ 'products.compare.available_stock' | t  }}";
      window.unavailable_stock="{{ 'products.compare.unavailable_stock' | t  }}";
      window.compare_note="{{ 'products.compare.compare_note' | t  }}";
      window.added_to_cmp="{{ 'products.compare.added_to_cmp' | t  }}";
      window.add_to_cmp="{{ 'products.compare.add_to_cmp' | t  }}";
      window.select_options="{{ 'products.product.select_options' | t  }}";
      window.add_to_cart="{{ 'products.product.add_to_cart' | t  }}";
      window.confirm_box="{{ 'products.compare.confirm_box' | t  }}";
      window.cancelButtonText="{{ 'products.compare.cancelButtonText' | t  }}";
      window.remove="{{ 'cart.general.remove' | t  }}";

      var compare_list = []; 

      var theme = {
        moneyFormat: {{ shop.money_format | json }},
        quickview_enable: {{ settings.show_quickview }},
        shop_currency: '{{ shop.currency }}',
        file_url: '{{''|file_url}}',
        asset_url: "{{'pixelstrap'|asset_url|remove:"pixelstrap"}}",
        money_currency_format: "{{shop.money_with_currency_format}}"
      }  
    </script>
    {% comment %} dtm added {% endcomment %}
    {{ 'bootstrap-icon.css' | asset_url |  stylesheet_tag  }}
    {% comment %} dtm added {% endcomment %}
    {{ 'TweenMax.min.js' | asset_url | script_tag }}
    {{ 'slider-animation.js' | asset_url | script_tag }}
    {{ 'jquery.js' | asset_url | script_tag }}
    {{ 'head.js' | asset_url | script_tag }}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {{ 'wishlist.js' | asset_url | script_tag }}
    <script>
      $(window).on('load',function(){
        Wishlist.init();
      });
    </script>
    {%- if template.directory == 'customers' -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
    {%- endif -%}
    {{ content_for_header }}
{{ 'bold-brain-widget.css' | asset_url | stylesheet_tag }}

{%- render 'bold-common' -%}
  </head>

  <body hidden data-products_count="{{ shop.products_count }}" class="template-{{ template | split: '.' | first }} {% if template  == 'product.full-page' %} product_full_page {% endif %}
    {% if settings.enable_box_layout and settings.box_layout == 'box_layout_1' and template == 'index' %}box-layout-body{% endif %}
    {% if settings.enable_box_layout and settings.box_layout == 'box_layout_2' and template == 'index' %}layout-20{% endif %}
    {% if settings.enable_rtl %} rtl{% endif %}"
  >
    {% render 'megamenu-rules' %}
    <div id="shop-currency" style="display:none !important">{{ shop.money_with_currency_format }}</div>
    <!-- pre-loader start -->
    {% if settings.enable_loader %}
    {% if template == 'index' %}
    <div class="loader-wrapper">
      {% if settings.enable_loader_logo %}
      <img class="loader_logo" src="{{ settings.loader_img | img_url: '250x' }}" alt="Loader" />
      {% else %}
      <div class="theme-loader">
        <div class="cssload-thecube">
          <div class="cssload-cube cssload-c1"></div>
          <div class="cssload-cube cssload-c2"></div>
          <div class="cssload-cube cssload-c4"></div>
          <div class="cssload-cube cssload-c3"></div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endif %}


    {% unless settings.add_to_cart_style == 'popup' or settings.add_to_cart_style == 'fly_cart' %}
    {% include 'cart-panel' %}
    {% endunless %}

    {% if settings.enable_box_layout and settings.box_layout == 'box_layout_3' and template == 'index' %}
    <div class="container-fluid layout-8">
      {% endif %}

      {% if settings.enable_box_layout and settings.box_layout == 'box_layout_2' and template == 'index' %}
      <div class="bg-white">
        {% endif %} 


        {% include 'free-shipping-bar' %} 
        {% include 'header-layout' %}
        {% if settings.header_layout == 'header_8' %}
        <div class="left-sidebar_space">
          {% endif %}
          <div class="page-container">
            {% if settings.enable_box_layout and template == 'index' and settings.box_layout == 'box_layout_1' or 'box_layout_3'  %}
            {% section 'slideshow' %}
            {% endif %}

            {% if settings.enable_box_layout and settings.box_layout == 'box_layout_1' and template == 'index' %}
            <div class="container box-layout {% if settings.enable_box_bg_img %}bg-image{% endif %}">
              {% endif %}

              {% if settings.enable_box_layout and settings.box_layout == 'box_layout_3' and template == 'index' %}
              <div class="layout-8-bg">
                {% endif %}

                {{ content_for_layout}}

                {% if settings.enable_box_layout and settings.box_layout == 'box_layout_3' and template == 'index' %}
              </div>
              {% endif %}

              {% if settings.enable_box_layout and settings.box_layout == 'box_layout_1' and template == 'index' %}
            </div>
            {% endif %}

            {% include 'footer-layout' %}

            {% if settings.header_layout == 'header_8' %}
          </div>
          {% endif %}
        </div>
        {% if template contains 'collection' or template contains 'collection.24' or template contains 'collection.48' or template contains 'collection.80' %}
        <div class="ajax-loader">
          <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
          </div>
        </div>
        {% endif %}

        <!-- tap to top -->
        {% if settings.enable_back_top %}
        <div class="tap-top {% if settings.enable_gradiant_colors %}green-top{% endif %}">
          <div>
            <i class="fa fa-angle-double-up"></i>
          </div>
        </div>
        {% endif %}
        <!-- tap to top end -->

        {% if settings.enable_box_layout and settings.box_layout == 'box_layout_2' and template == 'index' %}
      </div>
      {% endif %}

      {% if settings.enable_box_layout and settings.box_layout == 'box_layout_3' and template == 'index' %}
    </div>
    {% endif %}

    {% if template == 'index' %}
    {% if settings.newsletter_enable %}
    {% include 'newsletter-popup' %}
    {% endif %}
    {% endif %}

    {% if template == 'index' %}
    {% if settings.age_popup_enable %}
    {% include 'age-popup' %}
    {% endif %}
    {% endif %}  

    {% if settings.add_to_cart_style == 'fly_cart'%}
    {% include 'ajax-cart-template' %}
    {% elsif settings.add_to_cart_style == 'cart_top'%}
    {% include 'cart-container-top' %}
    {% elsif settings.add_to_cart_style == 'cart_bottom'%}
    {% include 'cart-container-bottom' %}
    {% elsif settings.add_to_cart_style == 'cart_left'%}
    {% include 'cart-container-left' %}
    {% elsif settings.add_to_cart_style == 'cart_right'%}
    {% include 'cart-container-right' %}
    {% endif %}

    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '.AddToCartForm_id',
          cartContainer: '#cart_container_id',
          addToCartSelector: '.add_to_cart_btn_cls',
          enableQtySelectors: true,
          moneyFormat: {{ shop.money_format | json }}
        });
      });
    </script>

    {% if settings.enable_fb_chat %}
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="{{ settings.fb_page_id }}"
         theme_color="{{ settings.fb_color }}"
         logged_in_greeting="{{ settings.greeting_title }}"
         logged_out_greeting="{{ settings.greeting_title }}">
    </div>
    {% endif %}

    <script src="{{ 'lazysizes.min.js' | asset_url }}" ></script>
    <script src="{{ 'jquery.elevatezoom.js' | asset_url }}" ></script>
    <script src="{{ 'handlebars-v4.0.5.js' | asset_url }}" ></script>
    <script src="{{ 'popper.min.js' | asset_url }}" ></script>    
    <script src="{{ 'bootstrap.js' | asset_url }}" ></script>
    <script src="{{ 'jquery.vide.min.js' | asset_url }}" ></script>
    <script src="{{ 'jquery.magnific-popup.js' | asset_url }}" ></script>
    <script src="{{ 'isotope.min.js' | asset_url }}" ></script>
    <script src="{{ 'plugins.js' | asset_url }}" ></script>
    <script src="{{ 'theme.min.js' | asset_url }}" ></script>    
    {% comment %}
    <script src="{{ 'slick.js' | asset_url }}" ></script>
    <script src="{{ 'menu.js' | asset_url }}" ></script>
    <script src="{{ 'script.js' | asset_url }}" ></script>
    {% endcomment %}
    {% render 'load-theme-scripts-after-custom-elements-prepared' %}
    {% include 'exit-popup' %}
    {% if settings.add_to_cart_style == 'popup' %}
    {% include 'cart-upsell-popup' %}
    {% endif %}
    {% include 'product-quickview' %}
    {% if settings.eneble_auto_search %}
    {% include 'search-autocomplete' %}
    {% endif %}
    {% comment %}{% include 'product-sales-popup'%}{% endcomment %}
    {% include 'product-compare' %}
    {% include 'currencies' %}
    {% include 'swatch-script' %}
    {% if settings.display_demo_btn %}
    {% include 'demo-popup' %}
    {% endif %}

    <span id="locale_data" class="hide">
      <script>
        var arrlang = 
            {% include 'locale.data' %}
      </script>
    </span>

    {% include 'footer-script' %}
    {% if settings.enable_development_mode == true %}
      {{ 'custom.css' | asset_url |  stylesheet_tag  }}
    {% else %}
      {{ 'custom.min.css' | asset_url |  stylesheet_tag  }}
    {% endif %}
    <!-- Footer Scripts ================================ -->
  {% render 'preorder-now' %}
  </body>
</html>
