<!--section start-->
<section class="cart-section section-b-space">
  <div class="container">
    {% if cart.item_count > 0 %}
    <div class="row">
      <div class="col-sm-12">
        {% comment %} 
        <div class="cart_counter"></div>

        <script>
          var timer_text = '{{ section.settings.cart_timer_text }}';
          var expiry_text = '{{ section.settings.cart_expiry_text }}';
          var timer_in_seconds = '{{ section.settings.cart_timer_in_seconds }}';
          var timer_in_minute = timer_in_seconds/60;   

          function createCookie(a, b, c) {
            if (c) {
              var d = new Date;
              d.setTime(d.getTime() + c * 60 * 1e3);
              var e = "; expires=" + d.toUTCString()
              } else var e = "";
            document.cookie = a + "=" + b + e + "; path=/"
          }

          function readCookie(a) {
            for (var b = a + "=", c = document.cookie.split(";"), d = 0; d < c.length; d++) {
              for (var e = c[d];
                   " " == e.charAt(0);) e = e.substring(1, e.length);
              if (0 == e.indexOf(b)) return e.substring(b.length, e.length)
                }
            return null
          }

          function eraseCookie(a) {
            createCookie(a, "", -1)
          }

          function crtmedir(a) {
            var b = document.createDocumentFragment(),
                c = document.createElement("div");
            for (c.innerHTML = a; c.firstChild;) b.appendChild(c.firstChild);
            return b
          }

          function startTimer(start, duration, display) {
            var diff, minutes, seconds;

            function timer() {
              diff = duration - (((Date.now() - start) / 1000) | 0);
              minutes = (diff / 60) | 0;
              seconds = (diff % 60) | 0;
              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;
              display.textContent = minutes + ":" + seconds;
              if (diff <= 0) {
                document.getElementById("clear_cart").click();
                clearInterval(inti);
                document.getElementById("countdownhere").innerHTML = expiry_text;
                start = Date.now() + 1000;
              }
            };
            timer();
            var inti = setInterval(timer, 1000);                    

          }  

          var pdm = crtmedir('<div class="countdownholder"><div id="countdownhere">'+ timer_text +'<span id="time"></span> minutes!</div><a href="/checkout" class="cart_checkout">check out</a></div>');
          if (window.location.href.indexOf('cart') > -1) {
            window.onload = function() {
              document.getElementsByClassName('cart_counter')[0].appendChild(pdm);
              var dolzina = timer_in_minute;
              var ten = 60 * dolzina;
              var starttime = Date.now();
              var xcnt = readCookie('prtcntdwn');
              if (xcnt) {
                if (starttime < xcnt) {
                  ten = (xcnt - starttime) / 1000;
                } else {
                  eraseCookie('ptcntdwn');
                  createCookie('prtcntdwn', Date.now() + (ten * 1000), ten + 1);
                }
              } else {
                createCookie('prtcntdwn', Date.now() + (ten * 1000), ten + 1);
              }
              display = document.querySelector('#time');
              startTimer(starttime, ten, display);                       
            };
          }
        </script> 
        {% endcomment %}
      </div>
      <div class="col-sm-12">
        <form action="/cart" method="post" novalidate class="cart" id="cart_form">
          <table class="table cart-table table-responsive-xs {% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}">
            <thead>
              <tr class="table-head">
                <th scope="col" {% if settings.enable_lang_switcher %}data-trans-key="cart.label.image"{%endif%}>{{ 'cart.label.image' | t }}</th>
                <th scope="col" {% if settings.enable_lang_switcher %}data-trans-key="cart.label.product"{%endif%}>{{ 'cart.label.product' | t }}</th>
                <th scope="col" {% if settings.enable_lang_switcher %}data-trans-key="cart.label.price"{%endif%}>{{ 'cart.label.price' | t }}</th>
                <th scope="col" {% if settings.enable_lang_switcher %}data-trans-key="cart.label.quantity"{%endif%}>{{ 'cart.label.quantity' | t }}</th>
                <th scope="col" {% if settings.enable_lang_switcher %}data-trans-key="cart.label.action"{%endif%}>{{ 'cart.label.action' | t }}</th>
                <th scope="col" {% if settings.enable_lang_switcher %}data-trans-key="cart.label.total"{%endif%}>{{ 'cart.label.total' | t }}</th>
              </tr>
            </thead>
            {% for item in cart.items %}
            <tbody>
              <tr>
                <td>
                  <a href="{{ item.url }}">
					{% assign block_image = item.url %}
                    {% if section.settings.use_equal_height %}
                    <div>
                      <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: item.image %}" data-sizes="auto" data-parent-fit="cover"></span>
                    </div>
                    {% else %}        
                    {% assign img_url = item | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img src="{{ item | img_url: '70x70' }}" 
                         data-src="{{ img_url }}" 
                         data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                         data-aspectratio="{{ block_image.aspect_ratio }}" 
                         data-sizes="auto" 
                         class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" alt="{{ item.title | split: '|' | first }}" >
                    {% endif %}
                  </a>
                </td>
                <td>                 

                  {% assign data_title = item.product.title | split: '|' | first | escape %}
                  {% assign data_json = item.product.title | split: '|' | last %}
                  <a href="{{ item.url }}" {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#{{item.id}}_cartItem_title"{% endif %}>
                    {{ data_title | truncatewords: 10 }}
                  </a>
                  {% if settings.enable_lang_switcher %}
                  <span class="hide" id="{{item.id}}_cartItem_title">{{ data_json | raw }}</span>
                  {% endif %}


                  <div class="mobile-cart-content row">
                    <div class="col-xs-3">
                      <div class="qty-box">
                        <div class="input-group">
                          <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="form-control input-number" value="1">
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <h2 class="td-color"><div class="pn-price-item" data-id="{{ item.key }}">{{ item.price | money }}</div></h2>
                    </div>
                    <div class="col-xs-3">
                      <h2 class="td-color">
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="icon mr-2" title="Remove this item">
                          <i class="ti-close"></i>
                        </a>
                      </h2>
                    </div>
                  </div>
                </td>
                <td><h2><div class="pn-price-item" data-id="{{ item.key }}">{{ item.price | money }}</div></h2></td>
                <td >
                  <div class="qty-box">
                    <div class="input-group">
                      <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="form-control input-number" value="1">
                    </div>
                  </div>
                </td>
                <td>
                  <button type="submit" name="update" class="update_cart"><i class="ti-reload"></i></button>
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="icon ml-2" title="Remove this item">
                    <i class="ti-close"></i>
                  </a>
                </td>
                <td><h2 class="td-color"><div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.line_price | money }}</div></h2></td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
          <table class="table cart-table table-responsive-md">
            <tfoot>
              <tr>
                <td {% if settings.enable_lang_switcher %}data-trans-key="cart.general.total"{%endif%}>{{ 'cart.general.total' | t }}</td>
                <td><h2> {{ cart.total_price | money }} </h2></td>
              </tr>
              <tr id="payright-wrapper">
                <td colspan="2" style="padding-right: 45px;">
                  <script id="paybright" src=" https://app.paybright.com/api/shopify.js?public_key=dkJXwWqz9jq7SkVXCjQuuuTcqJyCD873ctxfND8VymHTHX8UZu&financedamount=${{ cart.total_price | divided_by: 100.00 | round: 2 }}"></script>
                  <div id="paybright-widget-container"></div> 
                </td>
              </tr>
            </tfoot>
          </table>
        </form>
      </div>
    </div>
    <div class="row cart-buttons">
      <div class="col-lg-8 col-md-12">
        {% comment %} {% include 'shipping-calculater' %} {% endcomment %}
      </div>

      <div class="col-lg-4 col-md-12">
        <a href="/cart/clear" id="clear_cart" class="btn btn-solid" {% if settings.enable_lang_switcher %}data-trans-key="cart.general.clear_cart"{%endif%}>{{ 'cart.general.clear_cart' | t }}</a>
        <a href="/checkout" name="checkout" class="btn btn-solid" {% if settings.enable_lang_switcher %}data-trans-key="cart.general.checkout"{%endif%}>{{ 'cart.general.checkout' | t }}</a>
        {% comment %} <a href="/collections/all" class="btn btn-solid mt-1" {% if settings.enable_lang_switcher %}data-trans-key="cart.general.continue_shopping"{%endif%}>{{ 'cart.general.continue_shopping' | t }}</a> {% endcomment %}
      </div>
    </div>
    {% else %}
    <div class="col-md-12 empty-cart-cls text-center">
      <img src="{{ 'empty-cart.png' | asset_url }}" class="mb-3" alt="Empty cart" title="Emprt cart"> 
      <h3 class="mt-3" {% if settings.enable_lang_switcher %}data-trans-key="cart.general.empty"{%endif%}>{{ 'cart.general.empty' | t }}</h3>
      <a href="/" class="btn btn-solid" {% if settings.enable_lang_switcher %}data-trans-key="cart.general.continue_shopping"{%endif%}>{{ 'cart.general.continue_shopping' | t }}</a>
    </div>
    {% endif %}
  </div>
</section>
<!--section end-->

<script>
  if($(window).width() < 768){
    $('.mobile-cart-content').show();
  }
  else{
    $('.mobile-cart-content').remove();
  }  
</script>
        
{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
      "type": "header",
      "content": "Cart Timer"
    },
    {
      "type": "checkbox",
      "id": "enable_cart_timer",
      "label": "Enable Cart Timer",
      "default": true
    },
    {
      "type": "text",
      "id": "cart_timer_text",
      "label": "Cart Timer Text",
      "default": "Your cart will be expired in"
    },
    {
      "type": "text",
      "id": "cart_expiry_text",
      "label": "Cart Expiry Text",
      "default": "Your cart is expired."
    },
    {
      "type": "text",
      "id": "cart_timer_in_seconds",
      "label": "Cart Timer In Seconds",
      "default": "300",
      "info": "Example: 300 second left = 10 minutes left"
    },
    {
      "type": "header",
      "content": "Image Design Option"
    },
    {
      "type": "radio",
      "id": "img_width",
      "options": [
        {
          "value": "full",
          "label": "Image width Full"
        },
        {
          "value": "auto",
          "label": "Image Width Auto"
        }
      ],
      "label": "Image width option",
      "info": "This option will work if Use height for images option will be disabled."
    },
    {
      "type": "checkbox",
      "id": "use_equal_height",
      "label": "Use height Option for images?",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image Aspect Ratio",
      "default": "ratio_landscape",
      "options": [
        {
          "value": "ratio2_1",
          "label": "2:1"
        },
        {
          "value": "ratio3_2",
          "label": "3:2"
        },
        {
          "value": "ratio_landscape",
          "label": "4:3 (Landscape)"
        },
        {
          "value": "ratio_square",
          "label": "1:1 (Square)"
        },
        {
          "value": "ratio_asos",
          "label": "Ratio ASOS"
        },
        {
          "value": "ratio_portrait",
          "label": "2:3 (Portrait)"
        },
        {
          "value": "ratio1_2",
          "label": "1:2"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image Size",
      "default": "contain",
      "options": [
        {
          "value": "cover",
          "label": "Full"
        },
        {
          "value": "contain",
          "label": "Auto"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "info": "The first value is the horizontal position and the second value is the vertical.",
      "options": [
        {
          "value": "1",
          "label": "Left Top"
        },
        {
          "value": "2",
          "label": "Left Center"
        },
        {
          "value": "3",
          "label": "Left Bottom"
        },
        {
          "value": "4",
          "label": "Right Top"
        },
        {
          "value": "5",
          "label": "Right Center"
        },
        {
          "value": "6",
          "label": "Right Bottom"
        },
        {
          "value": "7",
          "label": "Center Top"
        },
        {
          "value": "8",
          "label": "Center Center"
        },
        {
          "value": "9",
          "label": "Center Bottom"
        }
      ],
      "label": "Image Position",
      "default": "7"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}