<!-- timer banner -->
{% capture sectionId %}{{ section.id }}{% endcapture %}
<section class="{% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}" style="padding: {{ section.settings.section_padding }};">
  <div class="container">
    <div class="row banner-timer lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: section.settings.banner_img %}" data-sizes="auto" data-parent-fit="cover" style="display: flex !important;">
      {% if section.settings.position == 'p-left' %}
      <div class="col-md-6">
        <div class="banner-text">
          <h2 class="{{ section.settings.alignment }}{% if settings.enable_lang_switcher %} lang_trans{% endif %}" style="color: {{ section.settings.text_color_color }};" {% if settings.enable_lang_switcher %}data-trans="#countdown_{{sectionId}}_countdown_text"{% endif %}>
            {{ section.settings.text }}
          </h2>
          {% if settings.enable_lang_switcher %}
          <span class="hide" id="countdown_{{sectionId}}_countdown_text">{{ section.settings.trans_countdown_title | raw }}</span>
          {% endif %}
          
        </div>
      </div>
      {% endif %}
      <div class="col-md-6">
        <div class="timer-box">
          <div class="timer">
            <p id="demo"></p>
          </div>
        </div>
      </div>
      {% if section.settings.position == 'p-right' %}
      <div class="col-md-6">
        <div class="banner-text">
          <h2 class="{{ section.settings.alignment }}{% if settings.enable_lang_switcher %} lang_trans{% endif %}" style="color: {{ section.settings.text_color_color }};" {% if settings.enable_lang_switcher %}data-trans="#countdown_{{sectionId}}_countdown_text"{% endif %}>
            {{ section.settings.text }}
          </h2>
          {% if settings.enable_lang_switcher %}
          <span class="hide" id="countdown_{{sectionId}}_countdown_text">{{ section.settings.trans_countdown_title | raw }}</span>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- timer banner end -->

<script>

    //    Set the date we're counting down to
  var countDownDate = new Date("{{ section.settings.date }}").getTime();

    //    Update the count down every 1 second
    var x = setInterval(function() {

// Get todays date and time
        var now = new Date().getTime();

// Find the distance between now an the count down date
        var distance = countDownDate - now;

// Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = "<span>" + days + "<span class='padding-l'>:</span><span class='timer-cal'>Days</span></span>" + "<span>" + hours + "<span class='padding-l'>:</span><span class='timer-cal'>Hrs</span></span>"
                + "<span>" + minutes + "<span class='padding-l'>:</span><span class='timer-cal'>Min</span></span>" + "<span>" + seconds + "<span class='timer-cal'>Sec</span></span> ";

// If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);

</script>

{% schema %}
{
   "name":"Countdown banner",
   "settings":[
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled "
      },
	  {
         "type": "text",
         "id": "section_padding",
         "label": "Padding",
         "default": "0px 0px 0px 0px"
      },
      {
        "type": "header",
        "content": "Image Design Option"
      },
      {
        "type": "checkbox",
        "id": "use_equal_height",
        "label": "Use height Option for images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "ratio_landscape",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio_landscape",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio_square",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_asos",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio_portrait",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      },
      {
         "type":"image_picker",
         "id":"banner_img",
         "label":"Banner Image"
      },
      {
         "type":"html",
         "id":"text",
         "label":"Title",
         "default":"Save <span>30% off</span> Digital Watch"
      },
        {
          "type": "color",
          "id": "text_color_color",
          "label": "Text color",
          "default": "#222"
        },
      {
         "type":"textarea",
         "id":"trans_countdown_title",
         "label":"Translate Countdown Title"
      },
      {
         "type":"text",
         "id":"date",
         "label":"Timer Date",
         "default":"3 sep 2019"
      },
      {
         "type":"url",
         "id":"link",
         "label":"Banner link"
      },
      {
         "type":"select",
         "id":"alignment",
         "label":"Text Alignment",
         "options":[
            {
               "value":"text-left",
               "label":"Left"
            },
            {
               "value":"text-center",
               "label":"Center"
            },
            {
               "value":"text-right",
               "label":"Right"
            }
         ],
         "default":"text-center"
      },
      {
         "type":"select",
         "id":"position",
         "label":"Text Position",
         "options":[
            {
               "value":"p-left",
               "label":"Left"
            },
            {
               "value":"p-right",
               "label":"Right"
            }
         ],
         "default":"p-left"
      }
   ],
   "presets":[
      {
         "name":"Countdown banner",
         "category":"Banner",
         "settings":{

         }
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
