<!-- section start -->
{% if section.settings.enabled %}
<section class="detail-cannabis" style="padding: {{ section.settings.section_padding }};background-color: {{ section.settings.bg_color }};">
  <div class="{% if section.settings.section_width == 'standard-width' %}container{% else %}container-fluid{% endif %}">
    <div class="row">
      {% for block in section.blocks %}
      <div class="col-md-4">
        <div class="detail_section">
          <div>

            {% if block.settings.image == blank %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% else %}
            <img class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" src="{{ block.settings.image | img_url: 'master' }}"  alt="{{ block.settings.title }}"/>
            {% endif %}

            {% if block.settings.title != blank %}
            <h4 {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#custom_block_{{blockId}}_title"{% endif %}>
              {{ block.settings.title }}
            </h4>
            {% if settings.enable_lang_switcher %}
            <span class="hide" id="custom_block_{{blockId}}_title">{{ block.settings.trans_title | raw }}</span>
            {% endif %}
            {% endif %}

            {% if block.settings.desc != blank %}
            <p {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#custom_block_{{blockId}}_desc"{% endif %}>
              {{ block.settings.desc }}
            </p>
            {% if settings.enable_lang_switcher %}
            <span class="hide" id="custom_block_{{blockId}}_desc">{{ block.settings.trans_desc | raw }}</span>
            {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}  
    </div>
  </div>
</section>
{% endif %}
<!-- section end -->

{% schema %}
{
   "name":"Custom Blocks",
   "max_blocks": 6,
   "settings":[
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled"
      },
	  {
         "type": "text",
         "id": "section_padding",
         "label": "Padding",
         "default": "30px 0px 0px 0px"
      },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "standard-width",
          "label": "Standard Width "
        }
      ],
      "default": "standard-width"
    },
	  {
         "type": "color",
         "id": "bg_color",
         "label": "Background Color",
         "default": "#f7f7f7"
      }
   ],
   "blocks":[
      {
         "type":"block",
         "name":"Block",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"Image"
            },
            {
               "type":"text",
               "id":"title",
               "label":"Title",
               "default":"Trusted Source"
            },
            {
               "type":"textarea",
               "id":"trans_title",
               "label":"Transalate Title"
            },
            {
               "type":"text",
               "id":"desc",
               "label":"Description",
               "default":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis cupiditate deleniti"
            },
            {
               "type":"textarea",
               "id":"trans_desc",
               "label":"Transalate Services Desc"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Custom Blocks",
         "category":"text",
         "blocks":[
            {
               "type":"block"
            },
            {
               "type":"block"
            },
            {
               "type":"block"
            }
         ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
