<!-- Smokers Landing Page collections grid -->
{% if section.settings.enabled %}
<section class=" {% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}" style="padding:{{ section.settings.section_padding }}">
  {%- include 'title' -%}

  <div class="container">
    <div class="row category-border">

      {% for block in section.blocks %}
      {% capture blockId %}{{ block.id }}{% endcapture %}
      {% assign collection = collections[block.settings.collection] %}

      {% assign column_grid_width = 'col-sm-12 col-md-6 col-lg-3' -%}

      <div class="{{ column_grid_width }}">
        <div class="category-banner">
          {% if block.settings.image == blank %}
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          {% else %}

          {% if section.settings.use_equal_height %}
          <div>
            <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: block.settings.image %}" data-sizes="auto" data-parent-fit="cover"></span>
          </div>        
          {% else %}
            {% assign block_image = block.settings.image %}
           <img src="{{ block.settings.image | img_url: '720x720' , crop: 'center' }}" 
               data-src="{{ block.settings.image | img_url: '720x720'  , crop: 'center' }}" 
               data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
               data-aspectratio="1" 
               data-sizes="full" 
               class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" alt="{{block_image.alt}}" >
          {% endif %}

          {% endif %}
          {% if block.settings.enabled_info %}
          <div is="landing-page-collection-link" class="category-box" cook-type="Offset Smoker" bbq-brand="{{ block.settings.brand }}" title="{{ block.settings.title }}"></div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
<!-- category 2 end -->

{% schema %}
{
   "name":"More Collections Grid",
   "max_blocks":8,
   "settings":[
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled"
      },
	  {
         "type": "text",
         "id": "section_padding",
         "label": "Padding",
         "default": "0px 0px 0px 0px"
      },
      {
         "type":"text",
         "id":"title",
         "label":"Title",
         "default":"More Collections"
      },
      {
         "type":"color",
         "id":"title_color",
         "label":"Title color",
         "default":"#fb711c"
      },
      {
        "type": "header",
        "content": "Image Design Option"
      },
      {
        "type": "checkbox",
        "id": "use_equal_height",
        "label": "Use height Option for images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "ratio_landscape",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio_landscape",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio_square",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_asos",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio_portrait",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      }
   ],
   "blocks":[
      {
         "type":"Collection",
         "name":"Add Collection ",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"Collection Image"
            },
            {
               "type":"checkbox",
               "id":"enabled_info",
               "default":true,
               "label":"Show Info"
            },
            {
               "type": "text",
               "id": "title",
               "label": "Heading"
            },
            {
              "type": "select",
              "id": "brand",
              "label": "Brand",
              "options": [
                {
                  "value": "Black Earth Grills",
                  "label": "Black Earth"
                },
                {
                  "value": "Broil King",
                  "label": "Broil King"
                },
                {
                  "value": "Kamado Joe",
                  "label": "Kamado Joe"
                },
                {
                  "value": "Louisiana Grills",
                  "label": "Louisiana Grills"
                },
                {
                  "value": "Pit Boss",
                  "label": "Pit Boss"
                },
                {
                  "value": "Traeger",
                  "label": "Traeger"
                },
                {
                  "value": "Weber",
                  "label": "Weber"
                },
                {
                  "value": "Yoder Smokers",
                  "label": "Yoder Smokers"
                }
              ]
            }
         ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
