<!-- category -->
{% if section.settings.enabled %}
<section class="section-b-space {% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="slick_carousel category-m" data-slick='{"slidesToShow": {{ section.settings.slidetoshow }},"slidesToScroll": 1, "autoplay": {{ section.settings.use_autoplay }}, "autoplaySpeed": {{ section.settings.slider_speed }}000, "infinite": {{section.settings.use_loop}}, "arrows": {{section.settings.use_arrows}},"dots": {{section.settings.use_dots}}, "responsive":[{"breakpoint": 1367,"settings":{"slidesToShow": {{ section.settings.slidetoshow_1367}} }},{"breakpoint": 1024,"settings":{"slidesToShow": {{ section.settings.slidetoshow_1024}} }},{"breakpoint": 767,"settings":{"slidesToShow": {{ section.settings.slidetoshow_767}} }},{"breakpoint": 480,"settings":{"slidesToShow": {{ section.settings.slidetoshow_480}} }} ]}'>
          {% for block in section.blocks %}
          {% capture blockId %}{{ block.id }}{% endcapture %}
          {% assign collection = collections[block.settings.collection] %}
          <div class="category-wrapper pt-0">
            <div>
              {% if block.settings.image == blank %}
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              {% else %}

              {% if section.settings.use_equal_height %}
              <div>
                <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: block.settings.image %}" data-sizes="auto" data-parent-fit="cover"></span>
              </div>        
              {% else %}
              {% assign block_image = block.settings.image %}
              {% assign img_url = block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img src="{{ block_image | img_url: '1370x385' }}" 
                   data-src="{{ img_url }}" 
                   data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
                   data-aspectratio="{{ block_image.aspect_ratio }}" 
                   data-sizes="auto" 
                   class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" alt="{{block_image.alt}}" >
              {% endif %}
              {% endif %}
              {% if block.settings.enabled_info %}
              <h4 {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#collection3_{{blockId}}_trans_title"{% endif %}>
                {{ block.settings.title }}
              </h4>
              {% if settings.enable_lang_switcher %}
              <span class="hide" id="collection3_{{blockId}}_trans_title">{{ block.settings.trans_title | raw }}</span>
              {% endif %}
              {{ block.settings.desc }}
              <a href="{{ collection.url }}" class="btn btn-outline" {% if settings.enable_lang_switcher %}data-trans-key="sections.featured_product.view_more"{%endif%}>
                {{ 'sections.featured_product.view_more' | t }}
              </a>
              {% endif %}
            </div>
          </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
   "name":"Feature Collection 3",
   "max_blocks":8,
   "settings":[
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled"
      },
      {
        "type": "header",
        "content": "Image Design Option"
      },
      {
        "type": "checkbox",
        "id": "use_equal_height",
        "label": "Use height Option for images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "ratio_landscape",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio_landscape",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio_square",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_asos",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio_portrait",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      },
    {
      "type": "header",
      "content": "Slider settings( Only for Carousel layout )"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "Autoplay Speed in milliseconds",
      "unit": "sec",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "use_autoplay",
      "label": "Use autoplay?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_arrows",
      "label": "Use Arrows?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_dots",
      "default": false,
      "label": "Use dots for pagination control?"
    },
    {
      "type": "checkbox",
      "id": "use_loop",
      "label": "Use Infinite loop sliding?",
      "default": false
    },
    {
      "type": "range",
      "id": "slidetoshow",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "slides To Show(Image per row)",
      "default": 4
    },
    {
      "type": "header",
      "content": "Breakpoint: 1367"
    },
    {
      "type": "range",
      "id": "slidetoshow_1367",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "slides To Show",
      "default": 4
    },
    {
      "type": "header",
      "content": "Breakpoint: 1024"
    },
    {
      "type": "range",
      "id": "slidetoshow_1024",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "slides To Show",
      "default": 3
    },
    {
      "type": "header",
      "content": "breakpoint: 767"
    },
    {
      "type": "range",
      "id": "slidetoshow_767",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "slides To Show",
      "default": 2
    },
    {
      "type": "header",
      "content": "breakpoint: 480"
    },
    {
      "type": "range",
      "id": "slidetoshow_480",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "slides To Show",
      "default": 1
    }
   ],
   "blocks":[
      {
         "type":"Collection",
         "name":"Add Collection",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"Collection Image"
            },
            {
               "type": "collection",
               "id": "collection",
               "label": "Select collection"
            },
            {
               "type":"checkbox",
               "id":"enabled_info",
               "default":true,
               "label":"Show Info"
            },
            {
               "type": "text",
               "id": "title",
               "label": "Heading",
               "default": "Men"
            },
            {
               "type": "textarea",
               "id": "trans_title",
               "label": "Translate Title"
            },
            {
               "type": "html",
               "id": "desc",
               "label": "Description",
               "default": "<ul><li><a >Shock-resistant watch</a></li><li><a>Skeleton watch</a></li><li><a >Slow watch</a></li><li><a>Solar-powered watch</a></li></ul>"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Feature Collection 3",
         "category":"Collection",
         "blocks":[
            {
               "type":"Collection"
            },
            {
               "type":"Collection"
            },
            {
               "type":"Collection"
            },
            {
               "type":"Collection"
            }
         ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
