<!--  tab section  -->
{% if section.settings.enabled %}
{% capture sectionId %}{{ section.id }}{% endcapture %}
{% if section.settings.enable_bg_img %}<div class="bg-block"  style="{% if section.settings.enable_bg_img %}
  background-image: url({{ section.settings.bg_img | img_url: 'master' }});{% endif %}">{% endif %}
<section class="p-0 {% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}">
  <div class="tab-bg" style="{% if section.settings.enable_bg_img %}
                             background: transparent; {% else %}background-color: {{ section.settings.bg_color }};{% endif %}">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          {%- include 'title' -%}
          <div class="theme-tab">
            <ul class="tabs tab-title">
              {% for block in section.blocks %}
              {% capture blockId %}{{ block.id }}{% endcapture %}
              {% assign collection = collections[block.settings.tab_collection] %}
              {% if collection.empty? %}
              <li class="current">
                <a href="tab-2{{ forloop.index }}" {% if settings.enable_lang_switcher %}data-trans-key="homepage.onboarding.collection_title"{%endif%}>
                  {{ 'homepage.onboarding.collection_title' | t }}
                </a>
              </li>
              {% else %}
              <li class="current">
                <a href="tab-2{{ forloop.index }}" {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#Pro_tabs2_{{blockId}}_tab_title"{% endif %}>
                  {{ block.settings.title }}
                </a>
                {% if settings.enable_lang_switcher %}
                <span class="hide" id="Pro_tabs2_{{blockId}}_tab_title">{{ block.settings.trans_title | raw }}</span>
                {% endif %}
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            <div class="tab-content-cls">              
              {% for block in section.blocks %}
              {% assign collection = collections[block.settings.tab_collection] %}
              <div id="tab-2{{ forloop.index }}" class="tab-content" >
                <div class="row product-tab">
                  {% if collection.empty? %}
                  {% capture current %}{% cycle 1,2,3,4,1,2 %}{% endcapture %}
                  {% for i in (1..4) %}
                  <div class="tab-box">
                    <div class="product-box2">
                      <div class="media">
                        <a href="#">
                          {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
                        </a>
                        <div class="media-body align-self-center">
                          <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <a href="#">
                            <h6 {% if settings.enable_lang_switcher %}data-trans-key="homepage.onboarding.product_title"{%endif%}>{{ 'homepage.onboarding.product_title' | t }}</h6>
                          </a>
                          <h4>{{ '$20.00' }}</h4>
                          <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  {% for product in collection.products limit:8 %}
                  <div class="tab-box">
                    <div class="product-box2">
                      <div class="media">
                        <a href="{{ product.url | within: collection }}">
                          {% assign block_image = product %}
                          {% assign img_url = block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                          <img src="{{ product | img_url: '500x500' }}" 
                               data-src="{{ img_url }}" 
                               data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
                               data-aspectratio="{{ block_image.aspect_ratio }}" 
                               data-sizes="auto" 
                               class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" alt="{{ product.title | split: '|' | first }}" >
                        </a>
                        <div class="media-body align-self-center">
                          <div class="rating">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                          </div>
                          <a href="{{ product.url | within: collection }}">
                            {% assign data_title = product.title | split: '|' | first %}
                            {% assign data_json = product.title | split: '|' | last %}
                            <h6 itemprop="name" {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#{{product.id}}_pro_title"{% endif %}>
                              {{ data_title | truncatewords: 10 }}
                            </h6>
                            {% if settings.enable_lang_switcher %}
                            <span class="hide" id="{{product.id}}_pro_title">{{ data_json | raw }}</span>
                            {% endif %}
                          </a>                        

                          {% if settings.eneble_login_price %}
                          {% if customer %}
                          <h4>{{ product.price | money }}</h4>
                          {% else %}
                          <span class="login-price" {% if settings.enable_lang_switcher %}data-trans-key="products.product.login_to_see_price"{%endif%}>{{ 'products.product.login_to_see_price' | t }}</span>
                          {% endif %}
                          {% elsif settings.show_catelogue %}
                          {% if settings.show_catelogue_price %}
                          <h4>{{ product.price | money }}</h4>
                          {% endif %}
                          {%else%}
                          <h4>{{ product.price | money }}</h4>
                          {% endif  %}

                          {% if settings.show_color_swatches %}
                          {% if product.available and product.variants.size > 1 %}  

                          {% for option in product.options %}
                          {% assign downcased_option = option | downcase %}
                          {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                          {% assign option_index = forloop.index0 %}
                          {% assign values = '' %}
                          <ul class="color-variant">
                            {% for variant in product.variants %}
                            {% assign value = variant.options[option_index] %}
                            {% unless values contains value %}
                            {% assign values = values | join: ',' %}
                            {% assign values = values | append: ',' | append: value %}
                            {% assign values = values | split: ',' %}
                            <li class="grid_swatch {{ settings.grid_color_swatches_style }} {{ value | replace: ' ', '_' | downcase }}" data-swatch-name="{{ downcased_option }}_{{ value | replace: ' ', '_' | downcase }}" data-image="{{ variant.featured_image | product_img_url: 'original' }}">
                            </li>
                            {% endunless %}
                            {% endfor %}
                          </ul>
                          {% endif %}
                          {% endfor %}

                          {% endif %}
                          {% endif %}   
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if section.settings.enable_bg_img %}</div>{% endif %}
{% endif %}
<!--  tab section end -->

{% schema %}
  {
    "name": "Feature Product Tabs-2",
    "max_blocks": 4,
    "settings": [
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled "
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#fff8f8"
      },
      {
        "type": "checkbox",
        "id": "enable_bg_img",
        "label": "Background Image enable?",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Special Products"
      },
      {
         "type": "textarea",
         "id": "trans_title",
         "label": "Translate Title"
      }
    ],
    "blocks": [
      {
        "type": "Tab",
        "name": "Tab Collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Product Tab"
          },
          {
            "type": "textarea",
            "id": "trans_title",
            "label": "Translate Title"
          },
          {
            "type": "collection",
            "id": "tab_collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Feature Product Tabs-2",
      "category": "Product",
      "settings": {},
      "blocks": [
        {
          "type": "Tab"
        },
        {
          "type": "Tab"
        }
      ]
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
