<style>
  .template-password{
    {% if section.settings.bg_img %}
    background: url({{ section.settings.bg_img | img_url: '1920x1080' }});
    {% else %}
    background-color: #eee;
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<div class="container">
  <div id='container' class="text-center">
    <div id='login'>
      <div>
        <div class="logo mb-4">
          {% if section.settings.logo %}
          <a href="/" itemprop="url">
            <img src="{{ section.settings.logo | img_url:'master' }}" alt="{{ shop.name }}" class="img-fluid" style="max-width:{{ section.settings.logo_max_width }}px" itemprop="Image"/>
          </a>
          {% else %}
          <h1 itemprop="logo"><a href="/" itemprop="url">{{ shop.name }}</a></h1>
          {% endif %}
        </div>

        {% if shop.password_message and shop.password_message != '' %}
        {{ shop.password_message }}
        {% else %}
        <h2 class="mb-3">
          {{ section.settings.heading }}
        </h2>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          {% form 'storefront_password', class: "theme-form" %}
          {{ form.errors | default_errors }}

          <div class="col-md-12 mt-2">
            <h3>Enter store using password: </h3>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <input type='password' name='password' id='password' class="form-control" autofocus />
            </div>
            <div class="col-md-12">
              <div class="actions">
                <input class="btn-solid" name="commit" type="submit" value="Enter" />
              </div>
            </div>
          </div>

          {% endform %}
        </div>
      </div>

      <div id='footer' class="mt-4">
        <div id='owner'>
          Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a>
        </div>
      </div>

    </div>

    <div id='powered'>
      {{ section.settings.copyright }}
    </div>

  </div>
</div>

<script type="text/javascript">
  document.getElementById('password').focus();
</script>

{% schema %}
  {
    "name": "Password Content",
    "settings": [
	  {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image(1920x1080px)"
      },
	  {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Will be Opening Soon!"
      },
      {
        "type": "richtext",
        "id": "copyright",
        "label": "Copyright text",
"default": "<p>© 2018, Multikart. Powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>.</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
