<!-- slider tab  -->
{% if section.settings.enabled %}
<section data-section-name="product-tab-slider-2" class="section-b-space qurox-product-tab {% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="theme-tab">
          <ul class="tabs tab-title2">
            {% for block in section.blocks %}
            {% capture blockId %}{{ block.id }}{% endcapture %}
            {% assign collection = collections[block.settings.tab_collection] %}
            {% if collection.empty? %}
            <li {% if forloop.first == true %}class="current"{% endif %}>
              <a href="tab-{{ forloop.index }}-1" {% if settings.enable_lang_switcher %}data-trans-key="homepage.onboarding.collection_title"{%endif%}>
                {{ 'homepage.onboarding.collection_title' | t }}</a>
            </li>
            {% else %}
            <li {% if forloop.first == true %}class="current"{% endif %}>
              <a href="tab-{{ forloop.index }}-1" {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#tab_slidr_{{blockId}}_title"{% endif %}>
                {{ block.settings.title }}
              </a>
              {% if settings.enable_lang_switcher %}
              <span class="hide" id="tab_slidr_{{blockId}}_title">{{ block.settings.trans_title | raw }}</span>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="tab-content-cls">
            {% for block in section.blocks %}
            {% assign collection = collections[block.settings.tab_collection] %}
            <div id="tab-{{ forloop.index }}-1" class="tab-content active" >
              <div class="slick_carousel product-m" data-slick='{"slidesToShow": {{ section.settings.slidetoshow }},"slidesToScroll": 1, "autoplay": {{ section.settings.use_autoplay }}, "autoplaySpeed": {{ section.settings.slider_speed }}000, "infinite": {{section.settings.use_loop}}, "arrows": {{section.settings.use_arrows}},"dots": {{section.settings.use_dots}}, "responsive":[{"breakpoint": 1367,"settings":{"slidesToShow": {{ section.settings.slidetoshow_1367}} }},{"breakpoint": 1024,"settings":{"slidesToShow": {{ section.settings.slidetoshow_1024}} }},{"breakpoint": 767,"settings":{"slidesToShow": {{ section.settings.slidetoshow_767}} }},{"breakpoint": 420,"settings":{"slidesToShow": {{ section.settings.slidetoshow_480}} }} ]}'>
                {% if collection.empty? %}
                {% capture current %}{% cycle 1,2,3,4,1,2 %}{% endcapture %}
                {% for i in (1..4) %}
                <div class="product-box">
                  <div class="img-block">
                    <div class="front">
                      <a href="#">
                        {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
                      </a>
                    </div>
                    <div class="cart-info">
                      <button tabindex="0"  data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="ti-shopping-cart" ></i></button>
                      <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="icon-heart-outline iconfont" aria-hidden="true"></i></a>
                      <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                      <a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="iconfont icon-balance" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="product-detail">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <a href="#">
                      <h6 {% if settings.enable_lang_switcher %}data-trans-key="homepage.onboarding.product_title"{%endif%}>{{ 'homepage.onboarding.product_title' | t }}</h6>  
                    </a>
                    <h4>{{ '$20.00' }}</h4>
                    <ul class="color-variant">
                      <li class="bg-light0"></li>
                      <li class="bg-light1"></li>
                      <li class="bg-light2"></li>
                    </ul>
                  </div>
                </div>
                {% endfor %}
                {% else %}
                {% for product in collection.products limit:10 %}
                {% include 'product-grid-item' %}
                {% endfor %}
                {% endif %}              
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- slider tab end -->
{% endif %}

{% schema %}
  {
    "name": "Product Tab Slider",
    "max_blocks": 4,
    "settings": [
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled "
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Special Products"
      },
      {
        "type": "textarea",
        "id": "trans_title",
        "label": "Translate Heading"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Exclusive Products"
      },
      {
        "type": "textarea",
        "id": "trans_subtitle",
        "label": "Translate Subtitle"
      },
      {
        "type": "header",
        "content": "Image Design Option"
      },
      {
         "type": "radio",
         "id": "img_width",
         "options": [
         {
         	"value": "full",
         	"label": "Image width Full"
         },
         {
         	"value": "auto",
         	"label": "Image Width Auto"
         }
      ],
      "label": "Image width option",
	  "info": "This option will work if Use height for images option will be disabled."
      },
      {
        "type": "checkbox",
        "id": "use_equal_height",
        "label": "Use height Option for images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "ratio_landscape",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio_landscape",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio_square",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_asos",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio_portrait",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      },
    {
      "type": "header",
      "content": "Slider settings( Only for Carousel layout )"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "Autoplay Speed in milliseconds",
      "unit": "sec",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "use_autoplay",
      "label": "Use autoplay?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_arrows",
      "label": "Use Arrows?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_dots",
      "default": false,
      "label": "Use dots for pagination control?"
    },
    {
      "type": "checkbox",
      "id": "use_loop",
      "label": "Use Infinite loop sliding?",
      "default": false
    },
    {
      "type": "range",
      "id": "slidetoshow",
      "min": 2,
      "max": 8,
      "step": 1,
      "label": "slides To Show(Image per row)",
      "default": 6
    },
    {
      "type": "header",
      "content": "Breakpoint: 1367"
    },
    {
      "type": "range",
      "id": "slidetoshow_1367",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "slides To Show",
      "default": 5
    },
    {
      "type": "header",
      "content": "Breakpoint: 1024"
    },
    {
      "type": "range",
      "id": "slidetoshow_1024",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "slides To Show",
      "default": 4
    },
    {
      "type": "header",
      "content": "breakpoint: 767"
    },
    {
      "type": "range",
      "id": "slidetoshow_767",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "slides To Show",
      "default": 3
    },
    {
      "type": "header",
      "content": "breakpoint: 480"
    },
    {
      "type": "range",
      "id": "slidetoshow_480",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "slides To Show",
      "default": 1
    }
    ],
    "blocks": [
      {
        "type": "Tab",
        "name": "Tab Collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Product Tab"
          },
		  {
            "type": "textarea",
            "id": "trans_title",
            "label": "Translate Heading"
          },
          {
            "type": "collection",
            "id": "tab_collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Product Tab Slider",
      "category": "Product",
      "settings": {},
      "blocks": [
        {
          "type": "Tab"
        },
        {
          "type": "Tab"
        }
      ]
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
