<!-- About section start -->
{% if section.settings.enabled %}
{% capture sectionId %}{{ section.id }}{% endcapture %}
<section class="section-b-space beauty-about {% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}" style="padding: {{ section.settings.section_padding }}">
  <div class="{% if section.settings.section_width == 'standard-width' %}container{% else %}container-fluid{% endif %}">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-12 offset-xl-1 text-center">
        {% if section.settings.image == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
        {% if section.settings.use_equal_height %}
        <div>
          <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: section.settings.image %}" data-sizes="auto" data-parent-fit="cover"></span>
        </div>        
        {% else %}
        {% assign block_image = section.settings.image %}
          {% assign img_url = block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img src="{{ block_image | img_url: '350x340' }}" 
               data-src="{{ img_url }}" 
               data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
               data-aspectratio="{{ block_image.aspect_ratio }}" 
               data-sizes="auto" 
               class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid {% if section.settings.img_width == "full" %} w-100{% endif %}" alt="{{block_image.alt}}" >
        {% endif %}
        {% endif %}
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="about-section">
          <div>
            <h2 {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#richtext_img_{{sectionId}}_title"{% endif %}>
              {{ section.settings.title }}
            </h2>
            {% if settings.enable_lang_switcher %}
            <span class="hide" id="richtext_img_{{sectionId}}_title">{{ section.settings.trans_title | raw }}</span>
            {% endif %}
            <div class="about-text">
              <p class="text-justify {% if settings.enable_lang_switcher %}lang_trans{% endif %}" {% if settings.enable_lang_switcher %}data-trans="#richtext_img_{{sectionId}}_desc"{% endif %}>
                {{ section.settings.desc }}
              </p>
              {% if settings.enable_lang_switcher %}
              <span class="hide" id="richtext_img_{{sectionId}}_desc">{{ section.settings.trans_desc | raw }}</span>
              {% endif %}
            </div>
            <div>
              {{ section.settings.custom_desc }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- About section  end -->

{% schema %}
  {
    "name": "Rich text With Image",
    "settings": [
      {
         "type":"checkbox",
         "id":"enabled",
         "label":"Enabled",
         "default":true
      },
	  {
         "type": "text",
         "id": "section_padding",
         "label": "Padding",
         "default": "0px 0px 0px 0px"
      },
      {
         "type":"select",
         "id":"section_width",
         "label":"Section Width",
         "options":[
            {
               "value":"full-width",
               "label":"Full Width"
            },
            {
               "value":"standard-width",
               "label":"Standard Width "
            }
         ],
         "default":"standard-width"
      },
	  {
	    "type": "image_picker",
        "id": "image",
        "label": "Image",
		"info": "Will be scaled down 350x340"
	  },
      {
         "type": "text",
         "id": "title",
         "label": "Title",
		 "default": "About us"
	  },
      {
         "type":"textarea",
         "id":"trans_title",
         "label":"Translate Title"
      },
      {
         "type": "textarea",
         "id": "desc",
         "label": "Description",
		 "default": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium"
	  },
      {
         "type":"textarea",
         "id":"trans_desc",
         "label":"Translate desc"
      },
      {
         "type": "html",
         "id": "custom_desc",
         "label": "Custom HTML"
	  },
      {
        "type": "header",
        "content": "Image Design Option"
      },
      {
         "type": "radio",
         "id": "img_width",
         "options": [
         {
         	"value": "full",
         	"label": "Image width Full"
         },
         {
         	"value": "auto",
         	"label": "Image Width Auto"
         }
      ],
      "label": "Image width option",
	  "info": "This option will work if Use height for images option will be disabled."
      },
      {
        "type": "checkbox",
        "id": "use_equal_height",
        "label": "Use height Option for images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "ratio_landscape",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio_landscape",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio_square",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_asos",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio_portrait",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      }
	],
   "presets":[
      {
         "name":"Rich text With Image",
         "category":"text"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
