<!-- service section-->
{% if section.settings.enabled %}

{% if section.settings.banner_layout == 'layout_3' %}
<div class="service-home">
  <div class="container">
    {% endif %}

    {% assign block_size = section.blocks.size  %}
    {% if block_size == 2 %}
    {% assign grid_width = 'col-lg-6 col-md-6' %}
    {% elsif block_size == 3 %}
    {% assign grid_width = 'col-lg-4 col-md-6' %}
    {% elsif block_size == 4 %}
    {% assign grid_width = 'col-lg-3 col-md-6' %}
    {% endif %}
    
    {% if section.settings.banner_layout == 'layout_2' %}
    <section class="banner-padding absolute-banner " style="padding: {{ section.settings.section_padding }};">
      {% endif %}
      <section class="{% if section.settings.banner_layout == 'layout_1' %}container {% endif %} {% if section.settings.banner_layout == 'layout_2' %} absolute-bg{% endif %}" 
               style="padding: {{ section.settings.section_padding }};">
        <div class="service">
          <div class="row partition4 ">
            {% for block in section.blocks %}
            {% capture blockId %}{{ block.id }}{% endcapture %}
            <div class="{% if section.settings.banner_layout == 'layout_3' %} col-lg-2 {% if forloop.first == true %} offset-lg-2{% endif %} col-6 {% else %} {{ grid_width }} {% endif %} service-block1">
              {% if block.settings.services_image == blank %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% else %}
              <img class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" src="{{ block.settings.services_image | img_url: 'master' }}"  alt="{{ block.settings.services_title }}"/>
              {% endif %}
              {% if block.settings.services_title != blank %}
              <h4 {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#service1_{{blockId}}_services_title"{% endif %}>
                {{ block.settings.services_title }}
              </h4>
              {% if settings.enable_lang_switcher %}
              <span class="hide" id="service1_{{blockId}}_services_title">{{ block.settings.trans_services_title | raw }}</span>
              {% endif %}
              {% endif %}
              {% if block.settings.services_desc != blank %}
              <p {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#service1_{{blockId}}_services_desc"{% endif %}>
                {{ block.settings.services_desc }}
              </p>
              {% if settings.enable_lang_switcher %}
              <span class="hide" id="service1_{{blockId}}_services_desc">{{ block.settings.trans_services_desc | raw }}</span>
              {% endif %}
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      {% if section.settings.banner_layout == 'layout_2' %}
    </section>
    {% endif %}

    {% if section.settings.banner_layout == 'layout_3' %}
  </div>
</div>
{% endif %}

{% endif %}
<!-- service section end-->
{% if section.settings.banner_layout == 'layout_3' %}
<script>
  document.addEventListener('scriptJSLoaded', function(){
	var set_margin = $('.service-home').innerHeight();
    // console.log(set_margin);
    $('.service-home').css('margin-top' , -set_margin);
  });
</script>
{% endif %}

{% schema %}
{
   "name":"Services-2",
   "max_blocks": 4,
   "settings":[
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled"
      },
	  {
         "type": "text",
         "id": "section_padding",
         "label": "Padding",
         "default": "70px 0px 70px 0px"
      },
      {
         "type":"select",
         "id":"banner_layout",
         "label":"Layout Design",
         "options":[
            {
               "value":"layout_1",
               "label":"layout 1"
            },
            {
               "value":"layout_2",
               "label":"layout 2"
            },
            {
               "value":"layout_3",
               "label":"layout 3"
            }
         ],
         "default":"layout_1"
      }
   ],
   "blocks":[
      {
         "type":"Service",
         "name":"Service",
         "settings":[
            {
               "type":"image_picker",
               "id":"services_image",
               "label":"Image"
            },
            {
               "type":"text",
               "id":"services_title",
               "label":"Services Title",
               "default":"free shipping"
            },
            {
               "type":"textarea",
               "id":"trans_services_title",
               "label":"Transalate Services Title"
            },
            {
               "type":"text",
               "id":"services_desc",
               "label":"Services Description",
               "default":"Free Shipping World Wide"
            },
            {
               "type":"textarea",
               "id":"trans_services_desc",
               "label":"Transalate Services Desc"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Services-2",
         "category":"Services",
         "blocks":[
            {
               "type":"Service"
            },
            {
               "type":"Service"
            },
            {
               "type":"Service"
            },
            {
               "type":"Service"
            }
         ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
